@import 'compass';
@import 'neptune/default/all';

//$base-color: gray;
@include extjs-panel-ui(
'page',

//$ui-base-color: null,
//
//$ui-border-color: null,
//$ui-border-radius: null,
//$ui-border-width: 0,
//
//$ui-header-color: null,
//$ui-header-font-family: $panel-header-font-family,
//$ui-header-font-size: $panel-header-font-size,
//$ui-header-font-weight: $panel-header-font-weight,
//$ui-header-border-width: $panel-header-border-width,
//$ui-header-border-color: $ui-border-color,
//$ui-header-background-color: null,
//$ui-header-background-gradient: matte,
//$ui-header-inner-border-color: null,

$ui-body-color: #dbdbdb,
//$ui-body-border-color: null,
//$ui-body-border-width: null,
//$ui-body-border-style: solid,
$ui-body-background-color: #1c1c1c
//$ui-body-font-size: null,
//$ui-body-font-weight: null
);

.x-panel-body-page {
	padding: 20px;

	h1 {
		color: #EF6215;
		font-size: 16pt;
		font-weight: bolder;
		margin-top: 10px;
	}
	
	h2 {
		color: #EF6215;
		font-size: 14pt;
		font-weight: bold;
		margin-top: 10px;
	}
	
	h3 {
		color: #EF6215;
		font-size: 12pt;
		margin-top: 10px;
	}

	p {
		margin-top: 10px;
		margin-bottom: 10px;
	}

	ul, ol {
		margin-top: 10px;
		padding-left: 20px;
	}

	ul li {
		list-style-type: disc;
	}

	ol li {
		list-style-type: decimal;
	}

	ul > li > ul > li {
		list-style-type: circle;
	}

	ul ul {
		margin-top: 0;
	}

	pre {
		padding: 15px;
		border: 1px solid black;
		background-color: #242527;
		@include border-radius(5px);
		@include box-shadow(1px);
	}

	code {
		font-family: "Ubuntu Mono";
		color: #7B95BA;
	}

	a {
		color: #6DDEDD;
	}
}

